*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(12px, 1vw, 16px);
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .navwrap{
        display: flex;
        justify-content: center;
        background: white;
        position: fixed;
        width: 100%;
        .nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1em 2em;
            align-items: center;
            .logo{
            }
                .ul{
                    ul{
                        list-style: none;
                        display: flex;
                        font-size: 0.9em;
                        font-weight: 600;
                        gap: 1em;
                        li{
                            display: flex;
                            text-align: center;
                            align-items: center;
                            opacity: 0.7;
                            &:hover{
                                cursor: pointer;
                                }
                            }
                            button{
                                padding: 1em 3em;
                                color: white;
                                background: #196BD4;
                                border-radius: 2em;
                                border: none;
                                &:hover{
                                    cursor: pointer;
                                    }
                            }
                        }
                        
                        img{
                            display: none;
                    }    
                }
        }
    } 
    .view1-back{
        width: 100%;
        background: linear-gradient(to left bottom , #F3FCFF, #D3FFF5);
        display: flex;
        justify-content: center;

        .view1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10em 10vw;
            gap: 5em;
            max-width: 1920px;
            align-items: center;
            .top{
                display: flex;
                justify-content: center;
                
                .text{
                    display: flex;
                    align-items: center;
                    padding: 0 3em;
                    flex-basis: 50%;
                
                    h1{
                            font-size: 3.7em;
                            line-height: 1;
                        }
                    }
                
                    .img{
                        flex-basis: 50%;
                        img{
                            object-fit: cover;
                            width: 25em;
                        }
                }
            }
            
            .bottom{
                display: flex;
                padding: 0 0;
                width: 100%;
                justify-content: center;
            
                p{
                    font-size: 2em;
                    text-align: center;
                    font-weight: 400;
                    line-height: 1.3;
                }
            }
        }
    }
    .view2{
            width: 100%;
            display: flex;
            max-width: 1920px;
            padding: 5vh 10vw;
            font-size: clamp(12px, 1vw , 16px);
            justify-content: center;
            .container{
                display: flex;
                gap: 5em;
                    .box{
                        flex-basis: 30%;
                        display: flex;
                        flex-direction: column;
                        border-top: 4px solid #E8EAED;
                        padding: 1em 2em 0 0;
                        gap: 1em;
                            h1{
                                font-size: 2em;
                            }
                            p{
                                font-size: 1.5em;
                                opacity: 0.6;
                            }
                            .img{
                                width: 100%;
                                img{
                                    width: 100%;
                                }
                            }
                    }
            }
    }
    .view3wrap{
        background: linear-gradient(to bottom,(#196bd4) 20%, transparent 60%), radial-gradient(ellipse at -50% -150%, transparent 80%,#196bd4 80%), linear-gradient(145deg,#196bd4 0, #1783e1 60%);
        width: 100%;
        display: flex;
        justify-content: center;
        .view3{
            width: 100%;
            display: flex;
            max-width: 1920px;
            padding: 5vh 10vw;
            font-size: clamp(12px, 1vw , 16px);
            justify-content: center;
            .contain{
                padding: 4em 2em;
                display: flex;
                justify-content: center;
                gap: 2em;
                flex-direction: column;
                .top{
                    padding-bottom: 10em;
                    h3{
                        color: white;
                        font-size: 2em;
                        font-weight: 600;
                    }
                    h1{
                        color: white;
                        font-size: 4em;
                    }
                }
                .bottom{
                    color: white;
                    display: flex;
                    gap: 5em;
                    justify-content: space-between;
                    .card{
                        padding: 1em 3em;
                        flex-basis: 50%;
                        border-radius: 1em;
                        &:hover{
                            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
                            cursor: pointer;
                        }
                        img{
                            padding-bottom: 1em;
                        }
                        .arrow{
                            font-size: 1.8em;
                            font-weight: 600;
                            padding-bottom: 0.5em;
                        }
                        p{
                            font-size: 1.2em;
                            padding-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }
    .view4{
        width: 100%;
        max-width: 1920px;
        display: flex;
        padding: 5vh 10vw;
        font-size: clamp(12px, 1vw , 16px);
        flex-direction: column;
        .one{
            display: flex;
            flex-direction: column;
            .top{
                width: 100%;
                padding-left: 5em;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                    h3{
                        opacity: 0.8;
                        font-size: 2em;
                        padding-right: 5em;
                    }
                    h1{ 
                        font-size: 4em;
                        padding-right: 5em;
                        line-height: 1;
                    }
            }
            .bottom{
                display: flex;
                width: 100%;
                padding: 3em 0;
                    .left{
                        flex-basis: 30%;
                        display: flex;
                        align-items: center;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
    
                    }
                    .right{
                        flex-basis: 70%;
                        display: flex;
                        flex-direction: column;
                        gap: 3em;
                        padding: 0 10em 0 10em;
                        .boxx{
                            display: flex;
                            flex-direction: column;
                            gap: 1.5em;
                            &:not(:last-child){
                                border-bottom: 1px #E8EAED solid;
                            }
                            padding-bottom: 5em;
                            h1{
                                font-size: 2em;
                                font-family: 400;
                            }
                            p{
                                font-size: 1.3em;
                                opacity: 0.6;
                            }
                            .boton{
                                display: flex;
                                gap: 1em;
                                    p{
                                        font-size: 1.3em; 
                                        opacity: 1;
                                        font-weight: 700;
                                        &:hover{
                                            cursor: pointer;
                                        }
                                    }
                            }
                        }
                    }
            }
        }
        .two{
            display: flex;
            width: 100%;
            .contain{
                    padding: 5em 0;
                    display: flex;
                    justify-content: center;
                    .l{
                        display: flex;
                        flex-direction: column;
                        padding: 0 15em 0 5em;
                        justify-content: center;
                        gap:2em;
                        span{
                            font-size: 1.5em;
                            opacity: 0.8;
                            font-weight: 700;
                        }
                        h1{
                            font-size: 4em;
                        }
                        p{
                            font-size: 1.3em;
                        }
                        .ali{
                            display: flex;
                            justify-content: flex-start;
                            button{
                                padding: 1em 2em;
                                border-radius: 3em;
                                background: 0;
                                border:#196BD4 1px solid ;
                                color: #196BD4;
                                font-size: 1em;
                                font-weight: 700;
                                &:hover{
                                    background: #196BD4;
                                    cursor: pointer;
                                    color: white;
                                }
                            }
                        }
                    }
                    .r{
                        img{
                         width: 40em;
                        }

                    }
                }
            }
        .three{
                display: flex;
                width: 100%;
                .contain{
                        padding: 5em 0;
                        display: flex;
                        justify-content: space-between;
                        .l{
                            img{
                                width: 30em;
                            }
                        }
                        .r{
                            display: flex;
                            flex-direction: column;
                            padding: 0 20em 0 5em;
                            justify-content: center;
                            gap:1.5em;
                            span{
                                font-size: 1.5em;
                                opacity: 0.8;
                                font-weight: 700;
                            }
                            h1{
                                font-size: 4em;
                            }
                            p{
                                font-size: 1.3em;
                            }
                            .ali{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 2em;
                                button{
                                    padding: 0.5em 1em;
                                    border-radius: 3em;
                                    background: 0;
                                    border:#196BD4 1px solid ;
                                    color: #196BD4;
                                    font-size: 1em;
                                    font-weight: 700;
                                    &:hover{
                                        background: #196BD4;
                                        cursor: pointer;
                                        color: white;
                                    }
                                }
                                p{
                                    font-size: 1em;
                                    font-weight: 700;
                                    opacity: 1;
                                }
                            }
                        }
                    }
            }
        .four{
            display: flex;
            width: 100%;
            .contain{
                    padding: 5em 0;
                    display: flex;
                    justify-content: center;
                    .l{
                        display: flex;
                        flex-direction: column;
                        padding: 0 15em 0 5em;
                        justify-content: center;
                        gap:2em;
                        span{
                            font-size: 1.5em;
                            opacity: 0.8;
                            font-weight: 700;
                        }
                        h1{
                            font-size: 4em;
                        }
                        p{
                            font-size: 1.3em;
                        }
                        .ali{
                            display: flex;
                            justify-content: flex-start;
                            button{
                                padding: 1em 2em;
                                border-radius: 3em;
                                background: 0;
                                border:#196BD4 1px solid ;
                                color: #196BD4;
                                font-size: 1em;
                                font-weight: 700;
                                &:hover{
                                    background: #196BD4;
                                    cursor: pointer;
                                    color: white;
                                }
                            }
                        }
                    }
                    .r{
                        img{
                         width: 40em;
                        }

                    }
                }
        }
    }
    
}
@media (max-width: 600px) {
    main {
        .navwrap{
            .nav{
                .logo{
                    img{
                        width: 10em;
                    }
    
                }
                .ul{
                    ul{
                        display: none;
                    }
                    img{
                        display: inline;
                        width: 3em;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .view1-back{
            background: linear-gradient(to bottom, #F3FCFF,#D3FFF5);
            .view1{
                align-items: center;
                padding: 10em 3em;
                gap: 10em;
                .top{
                    flex-direction: column-reverse;
                    gap: 5em;
                    align-items: center;
                    .text{
                        padding: 0;
                        text-align: center;
                            h1{
                                font-size: 3.8em;
                                font-weight: 700;
                            }
                    }
                }
                .bottom{
                    padding: 0;
                        p{
                            font-size: 2.8em;
                        }
                }
            }
        }
        .view2 {
            display: flex;
            justify-content: center;
            padding: 0;
                .container{
                    display: flex;
                    flex-direction: column;
                    padding: 5em 3em;
                }
        }
        .view3wrap{
            .view3{
                padding: 10em 0;
                .contain{
                    .top{
                        h3{
                        }
                        h1{
                        
                        }
                    }
                    .bottom{
                        flex-direction: column;
                        .card{
                            .arrow{
    
                            }
                        }
                    }
                }
            }
        }
    }
}